.control-arrow {
  background: #f3c6bd !important;
  height: 20%;
  margin: auto !important;
}

.thumbs {
  // width: 10% !important;
}

.selected {
  background: none !important;
}

.slide {
  background: none !important;
}
