@import "~antd/dist/antd.css";

.font-secondary {
  font-family: "Lora", Georgia, "Times New Roman", Times, serif;
}
.app-body {
  padding: 2%;
  max-width: 1800px;
  margin: 0 auto;
}

h2 {
  font-family: Roboto, sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
}

.page-container {
  background-color: white;
  padding: 3% 5%;
  box-shadow: 0 0 16px lightgrey;
  border-radius: 5px;
  width: 100%;
  margin: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  @media only screen and (max-width: 550px) {
    flex-direction: column;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: white;
  box-shadow: 0 4px 8px lightgrey;
  position: relative;
}

.reviews {
  margin: 2rem auto 2rem;
}

.review {
  margin: 0 auto 2rem;
}

.reviewed-by {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0.7rem;
  font-size: 0.8rem;
}

.reviewer {
  display: block;
  font-family: Lora, serif;
  font-style: italic;
  font-size: 1rem;
}

/* AddReview CSS */

.add-review-wrapper {
  width: 1354px;
  margin: 0 auto;
}

.review-form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30rem;
  width: 100%;
}

.review-form-wrapper .review-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 25rem;
  width: 100%;
}

.review-form-wrapper .review-form textarea {
  height: 100%;
  width: 100%;
  padding: 1rem;
}

.review-form-wrapper .review-form .form-button {
  margin-top: 0.5rem;
}

.title-wrapper {
  display: flex;
  margin: 2rem 0;
}

.title-wrapper .title-author {
  height: 100%;
  width: 100%;
  padding-left: 1rem;
}

.carousel-wrapper {
  align-self: center;
  margin: 0 auto;
  padding-top: 0.2rem;
  background-color: #282c34;
  width: 100%;
  margin-bottom: 2%;
}

.slick-slide {
  opacity: 0.2;
}

.slick-slide.slick-active.slick-current {
  opacity: 1;
}

.slide-image {
  height: 15rem;
  width: auto;
}

.solo-slide * {
  width: 50%;
}

.slide-image {
  width: auto;
}

.slick-arrow:before * {
  background: white;
}

.slick-next:before {
  color: #000;
  opacity: 1;
}

.slick-prev:before {
  color: #000;
  opacity: 1;
}
