.header nav {
  display: flex;
  justify-content: space-between;

  a {
    color: #2b292d;
    margin: 0 10px;
    text-decoration: none;
    @media only screen and (max-width: 1000px) {
      font-size: 0.9rem;
    }
    @media only screen and (max-width: 700px) {
      font-size: 0.7rem;
    }
    &:hover {
      text-decoration: underline;
      color: #000;
      font-weight: 500;
    }
  }
}
